.body{
    font-family: 'Montserrat', sans-serif;
    background: url('https://i.ibb.co/1rrjJkP/neom-x-DQKv-Pjxtxo-unsplash.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
}

.Cart{
   text-align: center;
   border: 3px solid saddlebrown;
   width: 280px;
   height: 280px;
  padding: 8px;
  border-radius: 15px;

}
.img{
    width: 80px;
   
    border-radius: 50px;
}  